* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    
    
}

header {
    background: linear-gradient(
        180deg,
        rgba(0,0,0,0.69) 0%,
        rgba(0,0,0,0) 100%
    );
}

 .logo {
    padding: 10px;
    width: 250px;

}