

.bg-filmes {
    background-image: url('assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}



#caixa_login {
    background: rgba(0,0,0,0.7);
    padding: 30px;
}

.btn {
    width: 360px;
}