
.container-select-product {
    width: 1100px;
    height: 550px;
    border: 1px solid black;
    background-color: aliceblue;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    
}

.icon-close {
    width: 45px;
    height: 35px;
    cursor: pointer;
}

.input-find {
    padding: 7px;
    margin-bottom: 10px;
    width: 400px;
    margin-left: 35px;
}

.header-table-product {
    display: flex;
    margin-left: 40px;
    margin-top: 15px;
    gap: 35px;
    font-weight: bold;
    font-size: 18px;
}


.content-products {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px
}

.content-product {
    display: flex;
    gap: 35px;
    
}

.content-product span, .header-table-product span {
    min-width: 100px;
}

.content-product span.product-id, .header-table-product span.span-id {
    min-width: auto;
    width: 27px;
}

.content-product span.product-descricao, .header-table-product span.span-descricao {
    min-width: auto;
    width: 180px;
}



.product-marca {
    display: flex;
    align-self: center;
    justify-self: center;
    
}






